@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: $color-dark;
}
.button {
  color: grey;
  background: transparent;
  border: 0;
  text-align: center;
  cursor: pointer;
  font-weight: 900;

  &.isFavorite {
    color: gold;
  }
}
